In [1]:
a=4
print(a+5)

9

In [3]:
a=-6
print(a-9)

-15

In [2]:
a=5
print(a*6)

30

In [4]:
a=8
print(a/2)

4.0

In [5]:
a=3.8
print(a//3)

1.0

In [8]:
a=5
print(a%4)
print(7.6%2)

1
1.5999999999999996

In [12]:
5>7

False

In [13]:
8>7

True

In [15]:
a=print
type(a)

builtin_function_or_method

In [16]:
a='qiziqish'

In [17]:
type(a)

str

In [18]:
a=7
print(a**3)

343

In [21]:
a=3
print(a**9)

19683

#DATA bilan tanishuv

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sayfi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sayfi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sayfi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sayfi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sayfi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\sayfi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\sayfi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('train.csv')

In [7]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0.0,2.2,0.0,1,0,7,0.6,188.0,2,...,20.0,756,2549.0,9,7,19,0,0,1,1
1,1021,1.0,0.5,1.0,0,1,53,0.7,136.0,3,...,905.0,1988,2631.0,17,3,7,1,1,0,2
2,563,1.0,0.5,1.0,2,1,41,0.9,145.0,5,...,1263.0,1716,2603.0,11,2,9,1,1,0,2
3,615,1.0,2.5,0.0,0,0,10,0.8,131.0,6,...,1216.0,1786,2769.0,16,8,11,1,0,0,2
4,1821,1.0,1.2,0.0,13,1,44,0.6,141.0,2,...,1208.0,1212,1411.0,8,2,15,1,1,0,1

In [8]:
df.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0.0,2.2,0.0,1,0,7,0.6,188.0,2,...,20.0,756,2549.0,9,7,19,0,0,1,1
1,1021,1.0,0.5,1.0,0,1,53,0.7,136.0,3,...,905.0,1988,2631.0,17,3,7,1,1,0,2
2,563,1.0,0.5,1.0,2,1,41,0.9,145.0,5,...,1263.0,1716,2603.0,11,2,9,1,1,0,2
3,615,1.0,2.5,0.0,0,0,10,0.8,131.0,6,...,1216.0,1786,2769.0,16,8,11,1,0,0,2
4,1821,1.0,1.2,0.0,13,1,44,0.6,141.0,2,...,1208.0,1212,1411.0,8,2,15,1,1,0,1
5,1859,0.0,0.5,1.0,3,0,22,0.7,164.0,1,...,1004.0,1654,1067.0,17,1,10,1,0,0,1
6,1821,0.0,1.7,0.0,4,1,10,0.8,NaN,8,...,381.0,1018,3220.0,13,8,18,1,0,1,3
7,1954,NaN,0.5,1.0,0,0,24,0.8,187.0,4,...,512.0,1149,700.0,16,3,5,1,1,1,0
8,1445,1.0,0.5,0.0,0,0,53,0.7,174.0,7,...,386.0,836,NaN,17,1,20,1,0,0,0
9,509,1.0,0.6,1.0,2,1,9,0.1,93.0,5,...,1137.0,1224,513.0,19,10,12,1,0,0,0

In [10]:
df.tail()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1995,794,1.0,0.5,1.0,0,1,2,0.8,106.0,6,...,1222.0,1890,668.0,13,4,19,1,1,0,0
1996,1965,1.0,2.6,1.0,0,0,39,0.2,187.0,4,...,915.0,1965,2032.0,11,10,16,1,1,1,2
1997,1911,0.0,0.9,1.0,1,1,36,0.7,108.0,8,...,868.0,1632,3057.0,9,1,5,1,1,0,3
1998,1512,0.0,0.9,0.0,4,1,46,0.1,145.0,5,...,336.0,670,869.0,18,10,19,1,1,1,0
1999,510,1.0,2.0,1.0,5,1,45,0.9,168.0,6,...,483.0,754,3919.0,19,4,2,1,1,1,3

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           1999 non-null   float64
 2   clock_speed    1999 non-null   float64
 3   dual_sim       1999 non-null   float64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      1997 non-null   float64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      1999 non-null   float64
 12  px_width       2000 non-null   int64
 13  ram            1999 non-null   float64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(7), int64(14)
memory usage: 328.3 KB

In [12]:
df.isnull().sum()

battery_power    0
blue             1
clock_speed      1
dual_sim         1
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        3
n_cores          0
pc               0
px_height        1
px_width         0
ram              1
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64