In [1]:
pip instal pandas

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "instal" - maybe you meant "install"

In [2]:
import pandas as pd

In [7]:
df=pd.read_csv('.tel malumotlari.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1000 non-null   int64
 1   id                         1000 non-null   int64
 2   battery_power              1000 non-null   int64
 3   blue                       1000 non-null   int64
 4   clock_speed                1000 non-null   float64
 5   dual_sim                   1000 non-null   int64
 6   fc                         1000 non-null   int64
 7   four_g                     1000 non-null   int64
 8   int_memory                 998 non-null    float64
 9   m_dep                      1000 non-null   float64
 10  mobile_wt                  999 non-null    float64
 11  n_cores                    1000 non-null   int64
 12  pc                         999 non-null    float64
 13  px_height                  999 non-null    float64
 14  px_width                   996 non-null    float64
 15  ram                        999 non-null    float64
 16  sc_h                       1000 non-null   int64
 17  sc_w                       1000 non-null   int64
 18  talk_time                  1000 non-null   int64
 19  three_g                    1000 non-null   int64
 20  touch_screen               1000 non-null   int64
 21  wifi                       1000 non-null   int64
 22  battery_efficiency         1000 non-null   int64
 23  screen_size_index          1000 non-null   int64
 24  camera_quality_index       1000 non-null   int64
 25  connectivity_index         1000 non-null   int64
 26  performance_index          1000 non-null   float64
 27  storage_capacity_index     1000 non-null   int64
 28  multitasking_capability    1000 non-null   int64
 29  display_resolution_index   1000 non-null   int64
 30  camera_resolution_index    1000 non-null   int64
 31  battery_longevity_index    1000 non-null   int64
 32  connectivity_memory_ratio  1000 non-null   float64
dtypes: float64(10), int64(23)
memory usage: 257.9 KB

In [9]:
df.head()

,Unnamed: 0,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,...,screen_size_index,camera_quality_index,connectivity_index,performance_index,storage_capacity_index,multitasking_capability,display_resolution_index,camera_resolution_index,battery_longevity_index,connectivity_memory_ratio
0,0,1,1043,1,1.8,1,14,0,5.0,0.1,...,84,224,3,6256.8,214,33,319112,30,2086,0.600000
1,1,2,841,1,0.5,1,4,1,61.0,0.8,...,0,48,4,1947.5,264,21,639322,16,5887,0.065574
2,2,3,1807,1,2.8,0,1,0,27.0,0.9,...,170,4,3,6708.8,217,8,1734820,5,18070,0.111111
3,3,4,1546,0,0.5,1,18,1,25.0,0.5,...,0,360,4,1946.5,141,46,516840,38,10822,0.160000
4,4,5,1434,0,1.4,0,11,1,49.0,0.5,...,120,198,3,2482.2,175,35,606690,29,10038,0.061224

In [ ]:
df['lueb'].value_counts() # clasifications

blue
1    516
0    484
Name: count, dtype: int64

In [ ]:
df['clock_speed'].value_counts() # regretion

clock_speed
0.5    199
2.6     40
0.6     40
1.4     39
1.3     38
2.9     38
1.6     37
2.1     37
2.5     36
0.9     34
2.8     33
2.4     33
2.7     33
1.1     33
1.8     32
1.7     30
0.8     29
2.2     29
0.7     28
1.9     28
2.3     28
1.5     27
1.2     27
1.0     26
2.0     25
3.0     21
Name: count, dtype: int64

In [12]:
df['clock_speed'].value_counts().sum()

np.int64(1000)

In [13]:
df['clock_speed'].nunique()

26

In [10]:
df['blue'].nunique

<bound method IndexOpsMixin.nunique of 0      1
1      1
2      1
3      0
4      0
      ..
995    1
996    0
997    0
998    1
999    1
Name: blue, Length: 1000, dtype: int64>

In [9]:
df.isnull().sum()

Unnamed: 0                   0
id                           0
battery_power                0
blue                         0
clock_speed                  0
dual_sim                     0
fc                           0
four_g                       0
int_memory                   2
m_dep                        0
mobile_wt                    1
n_cores                      0
pc                           1
px_height                    1
px_width                     4
ram                          1
sc_h                         0
sc_w                         0
talk_time                    0
three_g                      0
touch_screen                 0
wifi                         0
battery_efficiency           0
screen_size_index            0
camera_quality_index         0
connectivity_index           0
performance_index            0
storage_capacity_index       0
multitasking_capability      0
display_resolution_index     0
camera_resolution_index      0
battery_longevity_index      0
connectivity_memory_ratio    0
dtype: int64