In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('IMDB_movie_reviews_details.csv')

In [3]:
df.head(1)

,Unnamed: 0,name,year,runtime,genre,rating,metascore,timeline,votes,gross
0,0,The Shawshank Redemption,1994,142,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"2,394,059",$28.34M

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [6]:
df['year']

0      1994
1      1972
2      2020
3      2008
4      1974
       ...
995    1961
996    1956
997    1953
998    1953
999    1944
Name: year, Length: 1000, dtype: object

In [ ]:
['year']=df['year'].str.dfreplace(r'[/$,]','',regex=True)

In [5]:
df['year']

0      1994
1      1972
2      2020
3      2008
4      1974
       ...
995    1961
996    1956
997    1953
998    1953
999    1944
Name: year, Length: 1000, dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [7]:
df.head()

,Unnamed: 0,name,year,runtime,genre,rating,metascore,timeline,votes,gross
0,0,The Shawshank Redemption,1994,142,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"2,394,059",$28.34M
1,1,The Godfather,1972,175,"Crime, Drama",9.2,100.0,An organized crime dynasty's aging patriarch t...,"1,658,439",$134.97M
2,2,Soorarai Pottru,2020,153,Drama,9.1,NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...","78,266",NaN
3,3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,"2,355,907",$534.86M
4,4,The Godfather: Part II,1974,202,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,"1,152,912",$57.30M

In [9]:
df['gross']

0       $28.34M
1      $134.97M
2           NaN
3      $534.86M
4       $57.30M
         ...
995         NaN
996         NaN
997     $20.00M
998     $30.50M
999         NaN
Name: gross, Length: 1000, dtype: object

In [12]:
df['gross']=df['gross'].str.replace(r'[/$,]','',regex=True)

In [15]:
df['gross']

0       28.34M
1      134.97M
2          NaN
3      534.86M
4       57.30M
        ...
995        NaN
996        NaN
997     20.00M
998     30.50M
999        NaN
Name: gross, Length: 1000, dtype: object

In [19]:
df['gross']=df['gross'].str.replace(r'.','',regex=True) #USTOZ BU KOD ORQALI . BELGISINI OLIBTASHLASAM AYRIM QIYMATLAR NAN BO'LIBQOLDI

In [18]:
df['gross']

0
1
2      NaN
3
4
      ...
995    NaN
996    NaN
997
998
999    NaN
Name: gross, Length: 1000, dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [ ]:
df['gross']=pd.to_datetime(df['gross'],errors='coerce')

C:\Users\sayfi\AppData\Local\Temp\ipykernel_22620\4287562608.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['gross']=pd.to_datetime(df['gross'],errors='coerce')

df.info()

In [10]:
df['gross']

0     NaT
1     NaT
2     NaT
3     NaT
4     NaT
       ..
995   NaT
996   NaT
997   NaT
998   NaT
999   NaT
Name: gross, Length: 1000, dtype: datetime64[ns]

In [ ]:
df['gross']=pd.to_numeric(df['gross'],errors='coerce') # objaktdan intejirga o'tgazish codi

In [12]:
df['gross']

0     -9223372036854775808
1     -9223372036854775808
2     -9223372036854775808
3     -9223372036854775808
4     -9223372036854775808
              ...
995   -9223372036854775808
996   -9223372036854775808
997   -9223372036854775808
998   -9223372036854775808
999   -9223372036854775808
Name: gross, Length: 1000, dtype: int64

In [15]:
duplicated_row=df.duplicated(keep=False) # xato ustunlarni chiqarish

In [14]:
duplicated_row

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [ ]:
df.drop_duplicates(inplace=True) # duplicat bo'lib qolgan qatorlarni  tashlab yuborish

In [17]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of      Unnamed: 0                      name  year  runtime  \
0             0  The Shawshank Redemption  1994      142
1             1             The Godfather  1972      175
2             2           Soorarai Pottru  2020      153
3             3           The Dark Knight  2008      152
4             4    The Godfather: Part II  1974      202
..          ...                       ...   ...      ...
995         995    Breakfast at Tiffany's  1961      115
996         996                     Giant  1956      201
997         997                     Shane  1953      118
998         998     From Here to Eternity  1953      118
999         999                  Lifeboat  1944       97

                      genre  rating  metascore  \
0                     Drama     9.3       80.0
1              Crime, Drama     9.2      100.0
2                     Drama     9.1        NaN
3      Action, Crime, Drama     9.0       84.0
4              Crime, Drama     9.0       90.0
..                      ...     ...        ...
995  Comedy, Drama, Romance     7.6       76.0
996          Drama, Western     7.6       84.0
997          Drama, Western     7.6       80.0
998     Drama, Romance, War     7.6       85.0
999              Drama, War     7.6       78.0

                                              timeline      votes  \
0    Two imprisoned men bond over a number of years...  2,394,059
1    An organized crime dynasty's aging patriarch t...  1,658,439
2    Nedumaaran Rajangam "Maara" sets out to make t...     78,266
3    When the menace known as the Joker wreaks havo...  2,355,907
4    The early life and career of Vito Corleone in ...  1,152,912
..                                                 ...        ...
995  A young New York socialite becomes interested ...    169,575
996  Sprawling epic covering the life of a Texas ca...     34,759
997  A weary gunfighter attempts to settle down wit...     37,753
998  In Hawaii in 1941, a private is cruelly punish...     44,086
999  Several survivors of a torpedoed merchant ship...     26,903

                   gross
0   -9223372036854775808
1   -9223372036854775808
2   -9223372036854775808
3   -9223372036854775808
4   -9223372036854775808
..                   ...
995 -9223372036854775808
996 -9223372036854775808
997 -9223372036854775808
998 -9223372036854775808
999 -9223372036854775808

[1000 rows x 10 columns]>

In [22]:
duplicated_col=df.columns[df.columns.duplicated()] # duplicated bo'lib qolgan ustunlarni olib tashlash

In [26]:
duplicated_col

Index([], dtype='object')

In [4]:
df=df.col[:,~df.columns.duplicated()]

AttributeError: 'DataFrame' object has no attribute 'col'

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [6]:
#DATA PREPROCESSIMG

In [3]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum() #tushub qolgan qatorlarni hammasini tashlab yuborish

Unnamed: 0    0
name          0
year          0
runtime       0
genre         0
rating        0
metascore     0
timeline      0
votes         0
gross         0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [7]:
df.dropna (subset='gross',inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 829 entries, 0 to 998
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  829 non-null    int64
 1   name        829 non-null    object
 2   year        829 non-null    object
 3   runtime     829 non-null    int64
 4   genre       829 non-null    object
 5   rating      829 non-null    float64
 6   metascore   747 non-null    float64
 7   timeline    829 non-null    object
 8   votes       829 non-null    object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 71.2+ KB

In [11]:
df.dropna(subset='metascore',inplace=True) #boshqa qatorlarni tushub qolgam qiymatlar qatori bilan birh xilda to'ldirish

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 747 entries, 0 to 998
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  747 non-null    int64
 1   name        747 non-null    object
 2   year        747 non-null    object
 3   runtime     747 non-null    int64
 4   genre       747 non-null    object
 5   rating      747 non-null    float64
 6   metascore   747 non-null    float64
 7   timeline    747 non-null    object
 8   votes       747 non-null    object
 9   gross       747 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 64.2+ KB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   timeline    1000 non-null   object
 7   votes       1000 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [3]:
df.dropna(axis=1,inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   timeline    1000 non-null   object
 7   votes       1000 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [4]:
df.dropna(axis=1,inplace=True)

In [6]:
df.info() #tushub qolgan qiymati bor qatorni tashlab yuborish

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   timeline    1000 non-null   object
 7   votes       1000 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [6]:
df.drop(columns=['metascore'],inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   timeline    1000 non-null   object
 7   votes       1000 non-null   object
 8   gross       829 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 70.4+ KB

In [8]:
# MEAN

In [5]:
df=['gross'].fillna(df['gross'].mean(),inplace=True)

AttributeError: 'list' object has no attribute 'fillna'

In [6]:
df['gross'].fillna(df['gross'].mean(),inplace=True)

TypeError: can only concatenate str (not "int") to str

In [7]:
#MODE

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [12]:
df['metascore'].fillna(df['metascore'].mode()[0],inplace=True) # qiymatlari tushub qolgan qolgan qatorni data setda eng kop takrorlangani bilan to'ldirish

C:\Users\sayfi\AppData\Local\Temp\ipykernel_11292\1562777920.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['metascore'].fillna(df['metascore'].mode()[0],inplace=True) # qiymatlari tushub qolgan qolgan qatorni data setda eng kop takrorlangani bilan to'ldirish

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [13]:
# MEDIAN

In [19]:
df.head(1)

,Unnamed: 0,name,year,runtime,genre,rating,metascore,timeline,votes,gross
0,0,The Shawshank Redemption,1994,142,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"2,394,059",$28.34M

In [20]:
most_frequent_value=df['runtime'].mode()[0]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [21]:
print(most_frequent_value)

130

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [23]:
df['runtime'].fillna(df['runtime'].median(),inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_11292\44046074.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['runtime'].fillna(df['runtime'].median(),inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [26]:
df['timeline'].fillna(df['timeline'].mode()[0],inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [28]:
df['gross'].fillna(df['gross'].mode()[0],inplace=True)

In [29]:
df.isnull().sum()

Unnamed: 0    0
name          0
year          0
runtime       0
genre         0
rating        0
metascore     0
timeline      0
votes         0
gross         0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       1000 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   841 non-null    float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [31]:
# FIXED

In [4]:
df['metascore'].fillna(1,inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_15248\2618839080.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['metascore'].fillna(1,inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       829 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [19]:
df['gross'].fillna('',inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   name        1000 non-null   object
 2   year        1000 non-null   object
 3   runtime     1000 non-null   int64
 4   genre       1000 non-null   object
 5   rating      1000 non-null   float64
 6   metascore   1000 non-null   float64
 7   timeline    1000 non-null   object
 8   votes       1000 non-null   object
 9   gross       1000 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB